@media (min-width: 1550px) and (max-width: 1920px) {
    .AllCaht_Stand{
        font-weight:bolder;
        text-align: center;
        margin-top: 0vh;
        margin-left: 30vw;
        width: max-content;
        height: max-content;
    }
    #CreateChat_Message{
        font-size: 12px;
        font-weight: bold;
        margin-top: -1vh;
        margin-left: 31vw;
        width: max-content;
        height: max-content;
        text-align: center;
    }
}

@media (max-width: 1540px) {
    #AllCaht_Stand_date{
        font-weight:bolder;
        text-align: center;
        margin-top: 0vh;
        margin-left: 30vw;
        width: max-content;
        height: max-content;
    }
    #CreateChat_Message{
        font-size: 12px;
        font-weight: bold;
        margin-top: -1vh;
        margin-left: 31vw;
        width: max-content;
        height: max-content;
        text-align: center;
    }
}