@media (min-width: 1550px) and (max-width: 1920px) {
    .MyChat_Stand{

        display: flex;
        flex-direction: row;
        margin-bottom: 1vh;
        justify-content: center;
    }
    .MyChat_Stand h4{
        font-size: 15px;
        margin-top: 1vh;
    }
    .MyChat_ChangData{
        width: max-content;
        height: max-content;
        margin-top: 2vh;
    }
    .MyChat_ChangData p{
        font-size: 10px;
        margin: 0;
    }
    .MyChat_Context{
        background-color: #f2f2f2;
        border-radius: 15px;
        height:6vh;
        max-width:max-content;
        padding-left: 10px;
        padding-right: 10px;
    }
    #MyChat_ReCount{
        margin-left: 3vw;
        font-size: 12px;
        font-weight: bolder;
    }
}

@media (max-width: 1540px) {
    .MyChat_Stand{

        display: flex;
        flex-direction: row;
        margin-bottom: 1vh;
        justify-content: center;
    }
    .MyChat_Stand h4{
        font-size: 15px;
        margin-top: 1vh;
        font-weight:normal;
    }
    .MyChat_Loading{
        margin-top: 2vh;
        margin-right: 1vw; 
    }
    .MyChat_Error{
      display: flex;
      flex-direction: row;
      margin-top: 2vh;
    }
    .MyChat_Error img,
    .MyChat_Error img:hover{
      width: 1vw;
      height: 2vh;
      margin-right: 0.2vw;
      margin-left: 0.2vw;
      cursor: pointer;
    }
    .MyChat_ChangData{
        width: max-content;
        height: max-content;
        margin-top: 2vh;
    }
    .MyChat_ChangData p{
        font-size: 10px;
        margin: 0;
    }
    .MyChat_Context{
        background-color: #f2f2f2;
        border-radius: 15px;
        height:5vh;
        max-width:max-content;
        padding-left: 10px;
        padding-right: 10px;
    }
    #MyChat_ReCount{
        margin-left: 3vw;
        font-size: 12px;
        font-weight: bolder;
    }

}