@media (min-width: 1550px) and (max-width: 1920px)  {

.MentionList_stand{
    display: flex;
    flex-direction: row;
}
.MentionList_stand > p{
   margin-left: 0.2vw;
   margin-top: 1vh;
}
}
@media (max-width: 1540px)  {

    .MentionList_stand{
        display: flex;
        flex-direction: row;
    }
    .MentionList_stand > p{
        margin-left: 0.2vw;
        margin-top: 1vh;
     }
}