@media screen and (max-width:1536px) {
.ShowAllComments_BackDrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 30;
    background-color: rgba(0, 0, 0, 0.75);
}
.ShowAllComments_Main{
    width: 60vw;
    height: 79vh;
    max-height: 79vh;
    position: fixed;
    top: 10vh;
    left: 25vw;
    background-color:white;
    border-radius: 14px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 20;
    animation: Mainslide-down 1000ms ease-out forwards;
    display: flex;
    flex-direction: row;
}
#LocalName{
    font-size: 11px;
    margin-left: 3.5vw;
    margin-top: -0.5vh;
}
.ShowAllComtents_content{
    width: 33vw;
    height: 79vh;
    max-height: 79vh;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}


.ShowComments_display{
    width: 33vw;
    height: 79vh;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}
.ShowComments_display img{
    width: 33vw;
    height: 79vh;
    object-fit: fill;
}
.ShowComments_display video{
    width: 33vw;
    height: 79vh;
    object-fit: fill;
}
.ShowComments_Comments{
    height:79vh;
    width: 27vw;
}
.ShowComments_Myinfo{
    display: flex;
    flex-direction: row;
    max-width: 23vw;
    height: 5vh;
    margin-left: 1vw;
}
.ShowComments_Myinfo img{
    width: 2vw;
    height: 4vh;
    border-radius: 50px;
    margin-top: 1vh;
}
.ShowComments_Myinfo p{
    font-size: small;
    font-weight: bolder;
    margin-left: 0.4vw;
    margin-top: 2vh;
}
.ShowComments_Verticla hr{
    margin-top: 1.5vh;
    width:27vw;
    margin-left: 0vw;
}
.Comments_list{
    display: flex;
    flex-direction: column;
    width: 27vw;
    overflow: hidden;
    height: 50vh;
    max-height: 50vh;


}
.Comments_Loading{
    margin-top: 30vh;
    margin-left: 10vw;
}
.ShowComments_Input{
    display: flex;
    flex-direction:row;
    width: 100%;
    margin-top: 2vh;
    margin-left: 0vw;
    border-top: 1px solid black;
}
.ShowComments_Input textarea,
.ShowComments_Input textarea:hover,
.ShowComments_Input textarea:focus{
    resize: none;
    outline: none;
    width: 21vw; 
    height: 13px;       
    border: none;
    white-space: pre-wrap;
    word-break: break-word;
    font-size: 13px;
    margin-left: 3vw;
    padding-top: 2vh;
    padding-bottom: 0vh;
    box-sizing: border-box;  
    height: 6vh;
}
.ShowComments_Imoticon img{
    background-color: white;
    position: absolute;
    top:73vh;
    left:33vw;
    cursor: pointer;
    width: 2vw;
    height: 3vh;
    margin-top: 1.5vh;
    margin-left: 0.5vw;
}
/*
.ShowComments_Input img,
.ShowComments_Input img:hover{
width: 2vw;
height: 3vh;
margin-top: 1.5vh;
margin-left: 0.5vw;
}
*/
.ShowComments_Input p{
    position: absolute;
    top:72vh;
    left: 57vw;
    width: 3vw;
    font-size: medium;
    color:#007AFF;
    font-weight: 600;
    cursor: pointer;
}

.ShowComments_content_compare{
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    border-top: 1px solid darkgray;
    margin-top: 0vh;
    z-index: 70;
}
.ShowComments_content_compare h3{
    font-size: medium;
    font-weight: bolder;
    margin-left: 1vw;
    margin-top: 1vh;
 }
 .ShowComments_content_compare > p{
      font-size: medium;
      color:darkgray;
      margin-left: 1vw;
      margin-top: -1vh;
 }

 
 .ShowComments_content_Infos{
    display: flex;
    flex-direction: column;
    margin-top: 1vh;
    width: 100%;
    height: 5vh;
 }
 .ShowComments_content_Infos h3{
    font-size: small;
    font-weight: bolder;
    margin-top: 1vh;

 }
 .ShowComments_content_Infos p{
    font-size: small;
    color:darkgray;
    margin-top: -2vh;
    margin-left: 1vw;

 }

.ShowComments_content_Imglist{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 1vh;
    
}
.ShowComments_content_Imglist img{
    width: 1.5vw;
    height: 3vh;
    margin-left: 1vw;
    margin-top: 1vh;
}
.ShowComments_Input_Emoji{
    position: absolute;
    top:30.6vh;
    left: 33vw;
    bottom: 100%; /* 입력창 위에 뜨게 하기 */
    right: 0;
    z-index: 1000;
    width: max-content;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
/*
.ShowComments_commnet_post{
    display: flex;
    flex-direction: row;
    position: absolute;
    top:72vh;
    left: 57vw;
    width: 3vw;
    align-items: center;
    justify-content: center;
}
.ShowComments_commnet_post p,
.ShowComments_commnet_post p:hover{
    font-size: medium;
    color:#007AFF;
    font-weight: 600;
    cursor: pointer;
}
    */
}

@media (min-width: 1550px) and (max-width: 1920px)  {
    .ShowAllComments_BackDrop{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 30;
        background-color: rgba(0, 0, 0, 0.75);
    }
    .ShowAllComments_Main{
        width: 60vw;
        height: 79vh;
        position: fixed;
        top: 10vh;
        left: 25vw;
        background-color:white;
        border-radius: 14px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
        z-index: 20;
        animation: Mainslide-down 1000ms ease-out forwards;
        display: flex;
        flex-direction: row;
    }
    #LocalName{
        font-size: 11px;
        margin-left: 3.5vw;
        margin-top: -0.5vh;
    }
    .ShowAllComtents_content{
        width: 33vw;
        height: 79vh;
        overflow: hidden;
        display: flex;
        flex-direction: row;
    }
    
    
    .ShowComments_display{
        width: 33vw;
        height: 79vh;
        overflow: hidden;
        display: flex;
        flex-direction: row;
    }
    .ShowComments_display img{
        width: 33vw;
        height: 79vh;
        object-fit: fill;
    }
    .ShowComments_display video{
        width: 33vw;
        height: 79vh;
        object-fit: fill;
    }
    .ShowComments_Comments{
        height:79vh;
        width: 27vw;
    }
    .ShowComments_Myinfo{
        display: flex;
        flex-direction: row;
        max-width: 23vw;
        height: 5vh;
        margin-left: 1vw;
    }
    .ShowComments_Myinfo img{
        width: 2vw;
        height: 4vh;
        border-radius: 50px;
        margin-top: 1vh;
    }
    .ShowComments_Myinfo p{
        font-size: small;
        font-weight: bolder;
        margin-left: 0.4vw;
        margin-top: 2vh;
    }
    .ShowComments_Verticla hr{
        margin-top: 1.5vh;
        width:27vw;
        margin-left: 0vw;
    }
    .Comments_list{
        display: flex;
        flex-direction: column;
        width: 27vw;
        overflow: hidden;
        height: 53vh;
        //max-height: 50vh;
    
    
    }
    .Comments_Loading{
        margin-top: 30vh;
        margin-left: 10vw;
    }
    .ShowComments_Input{
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-top: 2vh;
        margin-left: 0vw;
        border-top: 1px solid black;
    }
    .ShowComments_Input textarea,
    .ShowComments_Input textarea:hover,
    .ShowComments_Input textarea:focus{
        resize: none;
        outline: none;
        width: 21.5vw;        
        border: none;
        height: 4vh;
        font-size: 15px;
        margin-left: 2.3vw;
        padding-top: 0.5vh;
        padding-bottom: 0vh;
        margin-top: 1vh;
        overflow: hidden;
        box-sizing: border-box;  
    }
    .ShowComments_Imoticon img{
        position: absolute;
        top:73vh;
        left:33vw;
        cursor: pointer;
        height: 3vh;
        margin-top: 2vh;
        margin-left: 0.5vw;
    }
    /*
    .ShowComments_Input img,
    .ShowComments_Input img:hover{
    width: 2vw;
    height: 3vh;
    margin-top: 1.5vh;
    margin-left: 0.5vw;
    }
    */
    .ShowComments_content_compare{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        border-top: 1px solid darkgray;
    }
     .ShowComments_content_compare > p{
          font-size: medium;
          color:darkgray;
          margin-left: 1vw;
          margin-top: -1vh;
     }
    
     
     .ShowComments_content_Infos{
        display: flex;
        flex-direction: column;
        margin-top: 0vh;
        width: 100%;
        height: 5vh;
     }
     .ShowComments_content_Infos h3{
        font-size: small;
        font-weight: bolder;
        padding-top: 0vh;
        padding-left: 1vw;
    
     }
     .ShowComments_content_Infos p{
        font-size: small;
        color:darkgray;
        margin-top: -1vh;
        padding-left: 1vw;
    
     }
    
    .ShowComments_content_Imglist{
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-top: 1vh;
        padding: 0px;
        
    }
    .ShowComments_content_Imglist img{
        width: 1.5vw;
        height: 3vh;
        margin-left: 1vw;
        margin-top: 1vh;
    }
    .ShowComments_Input_Emoji{
        position: absolute;
        top:30.6vh;
        left: 33vw;
        bottom: 100%; /* 입력창 위에 뜨게 하기 */
        right: 0;
        z-index: 1000;
        width: max-content;
        background: white;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
    
    }

    .ShowComments_commnet_post{
        display: flex;
        flex-direction: row;
        position: absolute;
        top:73vh;
        left: 57vw;
        width: 3vw;
        align-items: center;
        justify-content: center;
    }
    .ShowComments_commnet_post p,
    .ShowComments_commnet_post p:hover{
        font-size: medium;
        color:#007AFF;
        font-weight: 600;
        cursor: pointer;
    }
}