@media screen and (max-width:1920px)  and (min-width:1550px) {
.Gateway_Error{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Gateway_Error h2{
    font-size: 30px;
    font-weight: bold;
    margin-top: -10vh;
}
.Gateway_Error img{
    width: 50vw;
    height: 50vh;
    margin-top: 10vh;
    margin-bottom: 10vh;
}
.Gateway_Error_btn{
    display: flex;
    flex-direction: row;
    gap:20px;
    margin-left: 1vw;

}
.Gateway_Error_btn button,
.Gateway_Error_btn button:hover{
    background-color:lightskyblue;
    color:white;
    align-items: center;
    justify-content: center;
    padding: 10px;
    cursor: pointer; 
}
}
@media screen and (max-width:1540px){

.Gateway_Error{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Gateway_Error h2{
    font-size: 30px;
    font-weight: bold;
    margin-top: -10vh;
}

.Gateway_Error_btn{
    display: flex;
    flex-direction: row;
    gap:20px;
    margin-left: 1vw;

}
.Gateway_Error_btn button,
.Gateway_Error_btn button:hover{
    background-color:lightskyblue;
    color:white;
    align-items: center;
    justify-content: center;
    padding: 10px;
    cursor: pointer; 
}
}