
.NotFound_Main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}

.NotFound_Main h2{
    margin-top: -20vh;
}

.NotFound_Main img{
    width: 50vw;
    height: 50vh;
    margin-bottom: 10vh;
    margin-top: 10vh;
}

.NotFound_Main button,
.NotFound_Main button:hover{
    font-size: 20px;
    font-weight: bolder;
    background-color:lightskyblue;
    color:white;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius:10px;
    cursor: pointer; 
}