.centents{
    display: flex;
    flex-direction: row;

}
.centents img{
    width: 8vw;
    height: 11vh;
    margin-top: -1.7vh;
}
.centents h2{
    margin-left: 0vw;
    margin-top: 1vh;
    font: bold;
        
}
