.MatList_list{
    width: 30vw;
    max-width: 30vw;
    max-height: 30vh;
    overflow: auto;
    border-bottom: 1px solid black;
    margin-top: 2vh;
}

.MatList_Listbox{
    display: flex;
    flex-direction: column;   
    margin-top: -3.5vh;
}

