@media (min-width: 1550px) and (max-width: 1920px)  {
.sidecontent{
    position: absolute;
    top:20px;
    left: 657px;
    color: aqua;
    animation: slide-down 300ms ease-out forwards;
    border: 1px solid black;
    z-index: 40;
    background-color: white;
}

@keyframes slide-down {
    from {
      opacity: 0;
      transform: translateX(-3rem);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  .second_headers{
    font-size:large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: -15px;
    margin-bottom: -1.5vh;
    display: flex;
    justify-content:space-between;
    

}
.first_headers{
  font-size:large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: -15px;
  margin-bottom: -5px;
  display: flex;
  justify-content:space-between;
}
.first_headers h2{
  margin-left: 8vw;
  margin-top: 3vh;
  font-size: medium;
  
}

.first_img{
  margin-top:22px;
  margin-left: 5px;
}
.first_img img,   
.first_img img:hover{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.first_btn{
    margin-top: 22px;
    font-size:large;
    margin-left: 160px;
    
    

}
.first_btn button ,
.first_btn button:hover{
    border:none;
    background-color: white;
    cursor: pointer;
    font-size:large;
    border-radius: 10px;
    color: lightskyblue;
}

.first_Horizantal hr{
 width: 99.5%;
 margin-top: 0px;
 margin-bottom: 0px;
}

.second_headers h2{
    padding-top: 1.4vh;
    padding-left:1.5vw;
    font-size:large;
}
.headers h2{
  padding-top: 10px;
  padding-bottom: 0px;
  padding-left:  170px;
  font-size:large;
}

.Firstvideo_upload video{
  margin-top: -1vh;
  width: 40vw;
  height: 75vh;
  object-fit: fill;
  border-bottom-left-radius: 15px;
}

.Firstvideo video{
  margin-top: -0.2vh;
  width: 40vw;
  height: 73.7vh;
  object-fit: fill;

}

.Secondvideo{
  width: 50vw;
  height: 80vh;
  background-color: brown;
}
.Secondvideo video{

  margin-bottom: -29px;
  margin-top: -1px;
  border-bottom-left-radius: 15px;
}

.load{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
}
.vertical{
  width: 1px;
  height: 70vh;
}
.second_vertical hr{
  width: 1;
  height: 73vh;
  margin-left: 5px;
  margin-top: -2px;
  
}
.view{

  display: flex;
  flex-direction: row;
}
.Edite{
  width: 50vw;
  height: 40vh;
}
.Edite video{
  width: 85%;
  height: 480px;
  object-fit: fill;
  border-bottom-left-radius: 15px;
}
.range{
  position: absolute;
  top:100px;
  left: 670px;

}
.bar{
  width: 20px;
  height: 20px;
  border: 2px solid black;
  cursor:e-resize;
}

.contain{
  position: absolute;
  top:100px;
  left: 500px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.item{
margin-bottom: -5px;
background-color: white;
} 


.second_Nimg{
  margin-top: -1vh;
  width: 100%;
  height: 100%;
}
.second_Nimg video{
  cursor: pointer;
  width: 35.5vw;
  height: 72.5vh;  
  object-fit: cover;
  border-bottom-left-radius: 14px;
}
.Mainvideo {
  width: 20vw;
  height: 10vh;
}

.Mainvideo video{
  width: 100%;
  height: 480px;
  object-fit: fill;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.video_slide_right{
  position: absolute;
  top:350px;
  left: 690px;
  z-index: 40;
  cursor: pointer;
}
.video_slide_right img{
  width: 4vw;
  height: 8vh;
}

.video_slide_left{
  position: absolute;
  top:270px;
  z-index: 40;
  cursor: pointer;
}
.video_slide_left img{
  width: 4vw;
  height: 8vh;
}
.point{
  position: absolute;
  top:540px;
  left: 270px;
  z-index: 40;
  display: flex;
  flex-direction: row;
  gap:7px;
}
.circle{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid black;

   &:active{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid black;
    background-color: black;
   }

 }
 .insert_contents{
  position: absolute;
  top:100px;
  left:41vw;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  //margin-left: 10px;
  

}
.insert_contents textarea{
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  resize: none;
  width: 17vw;
  height: 30vh;
  max-height: 300px;
  overflow-y: auto;
  font-size: large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 200px;
  padding-left: 20px;
  margin-left: -4px;

}
.insert_contents input{
  cursor: pointer;
  padding-left: 20px;
  padding-top:20px;
  padding-bottom: 20px;
  margin-left: -4px;
  margin-right: -10px;
  border-left: none;
  border-right: none;
  border-top: none;
  font-size: large;
  font-weight: bolder;
}

.upload_side{
  position: absolute;
  top:5vh;
  left: 41vw;
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  width: 16vw;

}
.upload_side img{
  margin-right: 0.3vw;
  margin-top: 0.5vh;
  width: 30px;
  height: 30px;
  border-radius: 25px;
}
.upload_side h3{
  font-size: small;
}

#local:disabled,
#local:focus:disabled,
#local:hover:disabled,
#local:active:disabled{
    cursor: not-allowed;
}

.video_open{
  display: flex;
  flex-direction: column;
}

.video_bts button{
    background-color: darkgrey;
    margin-left: 0.5vw;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 10px;
    text-align: center;
    font-size: small;
}

.Video_openlist{
  border:  2px solid black;
  z-index: 40;
  margin-left: 50px;
  width: 80%;
  border-radius: 30px;
  background-color: darkgrey;
  padding-bottom: -20px;
}
.Video_openlist ul{
  list-style: none;
  float:left;
  margin-bottom: 0px;
  margin-left: -10px;
  margin-right: -30px;
}
.Video_openlist li{
  font-size: smaller;
  margin-bottom: 10px;
  
}

.Video_openlist li:hover{
  font-size: smaller;
  background-color: white;
  margin-bottom: 10px;
  cursor: pointer;
}
.Video_slide_stand{
  margin-top: -0.2vh;
  width: 40vw;
  height: 73.7vh;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}
.Video_slide_stand video{
  width: 40vw;
  height: 73.7vh;
  object-fit: fill;
}
.Video_slide_stand_upload{
  width: 40vw;
  height: 75vh;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.Video_slide_stand_upload video{
  width: 40vw;
  height: 75vh;
  object-fit: fill;
}
.video_upload{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  justify-content:space-between;
  width: 100%;
}
.video_upload h2{
 font-size:smaller;
}

.video_upload_img{
 padding-top: 1vh;
 margin-left: 0.5vw;
}
.video_upload_img img, 
.video_upload_img img:hover{
 width: 25px;
 height: 25px;
 cursor: pointer;
}

.video_upload_btn button ,
.video_upload_btn button:hover{
margin-top: 1vh;
 border:none;
 background-color: white;
 cursor: pointer;
 font-size:smaller;
 border-radius: 10px;

}
}
@media (min-width: 1200px) and (max-width: 1540px) {
  .sidecontent{
    position: absolute;
    top:20px;
    left: 657px;
    color: aqua;
    animation: slide-down 300ms ease-out forwards;
    border: 1px solid black;
    z-index: 40;
    background-color: white;
}

@keyframes slide-down {
    from {
      opacity: 0;
      transform: translateX(-3rem);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  .video_upload{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content:space-between;
    width: 100%;
}
.video_upload h2{
   font-size:smaller;
}

.video_upload_img{
   padding-top: 1vh;
   margin-left: 0.5vw;
}
.video_upload_img img, 
.video_upload_img img:hover{
   width: 25px;
   height: 25px;
   cursor: pointer;
}

.video_upload_btn button ,
.video_upload_btn button:hover{
  margin-top: 1vh;
   border:none;
   background-color: white;
   cursor: pointer;
   font-size:smaller;
   border-radius: 10px;
   color: lightskyblue;

}


.Video_upload_Horizantal hr{
  margin-top: 0vh;
   width:100%;
}
.first_headers{
  font-size:large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: -15px;
  margin-bottom: -5px;
  display: flex;
  justify-content:space-between;
}
.first_headers h2{
  margin-left: 5vw;
  margin-top: 3vh;
  font-size: medium;
}

.first_img{
  margin-top: 1.5vh;
  margin-left: 0.3vw;
}
.first_img img,   
.first_img img:hover{
  margin-top: 1.5vh;
  margin-left: 0.3vw;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.first_btn{
  margin-top: 2.5vh;
  margin-left: 3vw;
}
.first_btn button ,
.first_btn button:hover{
  border:none;
  background-color: white;
  cursor: pointer;
  font-size:smaller;
  border-radius: 10px;
  color: lightskyblue;

}

.first_Horizantal hr{
  margin-top: -1vh;
  width:100%;
}

.second_headers h2{
    padding-top: 1.4vh;
    padding-left:1.5vw;
    font-size:large;
}
.headers h2{
  padding-top: 10px;
  padding-bottom: 0px;
  padding-left:  170px;
  font-size:large;
}
.Firstvideo_upload video{
  margin-top: -1.5vh;
  width: 40vw;
  height: 74vh;
  object-fit: fill;
}

.Firstvideo video{
  margin-top: -0.2vh;
  width: 40vw;
  height: 73.7vh;
  object-fit: fill;

}

.Secondvideo{
  width: 50vw;
  height: 80vh;
  background-color: brown;
}
.Secondvideo video{

  margin-bottom: -29px;
  margin-top: -1px;
  border-bottom-left-radius: 15px;
}

.load{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
}
.vertical{
  width: 1px;
  height: 70vh;
}
.second_vertical hr{
  width: 0.1px;
  height: 70vh;
  margin-left: -0.1vw
  
}
.view{
  display: flex;
  flex-direction: row;
}
.Edite{
  width: 50vw;
  height: 40vh;
}
.Edite video{
  width: 85%;
  height: 480px;
  object-fit: fill;
  border-bottom-left-radius: 15px;
}
.range{
  position: absolute;
  top:100px;
  left: 670px;

}
.bar{
  width: 20px;
  height: 20px;
  border: 2px solid black;
  cursor:e-resize;
}

.contain{
  position: absolute;
  top:100px;
  left: 500px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.item{
margin-bottom: -5px;
background-color: white;
} 
.Nimg{
  width: 80vw;
}

.second_Nimg video{
  cursor: pointer;
  width: 35.5vw;
  height: 72.5vh;  
  object-fit: cover;
  //border-bottom-left-radius: 14px;
}
.Mainvideo {
  width: 20vw;
  height: 10vh;
}

.Mainvideo video{
  width: 100%;
  height: 480px;
  object-fit: fill;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.video_slide_right{
  position: absolute;
  top:270px;
  left: 555px;
  z-index: 40;
  cursor: pointer;
}
.video_slide_right img{
  width: 4vw;
  height: 8vh;
}

.video_slide_left{
  position: absolute;
  top:270px;

  z-index: 40;
  cursor: pointer;
}
.video_slide_left img{
  width: 4vw;
  height: 8vh;
}
.point{
  position: absolute;
  top:540px;
  left: 270px;
  z-index: 40;
  display: flex;
  flex-direction: row;
  gap:7px;
}
.circle{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid black;

   &:active{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid black;
    background-color: black;
   }

 }
 .insert_contents{
  position: absolute;
  top:100px;
  left:41vw;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  //margin-left: 10px;
  

}
.insert_contents textarea{
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  resize: none;
  width: 17vw;
  height: 30vh;
  max-height: 300px;
  overflow-y: auto;
  font-size: large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 200px;
  padding-left: 20px;
  margin-left: -4px;

}
.insert_contents input{
  cursor: pointer;
  padding-left: 20px;
  padding-top:20px;
  padding-bottom: 20px;
  margin-left: -4px;
  margin-right: -10px;
  border-left: none;
  border-right: none;
  border-top: none;
  font-size: large;
  font-weight: bolder;
}

.upload_side{
  position: absolute;
  top:5vh;
  left: 41vw;
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  width: 16vw;

}
.upload_side img{
  margin-right: 0.3vw;
  margin-top: 0.5vh;
  width: 30px;
  height: 30px;
  border-radius: 25px;
}
.upload_side h3{
  font-size: small;

}

#local:disabled,
#local:focus:disabled,
#local:hover:disabled,
#local:active:disabled{
    cursor: not-allowed;
}

.open{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  
}

.bts button{
    background-color: darkgrey;
    margin-left: 70px;
    margin-top: -2px;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 10px;
    text-align: center;
}

.Video_openlist{

  border:  2px solid black;
  z-index: 40;
  margin-left: ovw;
  width: 100%;
  border-radius: 10px;
  background-color: darkgrey;
}
.Video_openlist ul{
  list-style: none;
  float:left;
  margin-bottom: 0px;
  margin-left: -1.5vw;
  margin-right: -30px;
}
.Video_openlist li{
  font-size: smaller;
  margin-bottom: 10px;
  
}

.Video_openlist li:hover{
  font-size: smaller;
  background-color: white;
  margin-bottom: 10px;
  cursor: pointer;
}

.Video_slide_stand{
  margin-top: -0.2vh;
  width: 40vw;
  height: 73.7vh;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}
.Video_slide_stand video{
  width: 40vw;
  height: 73.7vh;
  object-fit: fill;
}
.Video_slide_stand_upload{
  margin-top: -0.5vh;
  width: 40vw;
  height: 74vh;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.Video_slide_stand_upload video{
  width: 40vw;
  height: 74vh;
  object-fit: fill;
}
}

