.Reset_Main{
    display: flex;
    align-items: center;
    flex-direction:column;
}

.Reset_Main h2{
    margin-top: -5px;
    margin-bottom: 20px;
    font-size: x-large;
    font-weight: 900;
}
.Reset_Main p{
    margin-top: -2vh;
}
.Reset_Main img{
    width: 600px;
    height: 400px;  
}

.Resetpw_input{
    
    width: 400px;
    height: 50px;
    margin-bottom: 20px;
    border-left: none;
    border-right: none;
    border-top: none;
}
.Resetpw_input input{
      width: 300px;
        height: 45px;
        border: 1px solid #ccc;
        border-radius: 10px;
        padding: 0 15px;
        font-size: 14px;
        color: #333;
        background-color: #f9f9f9;
          &::placeholder {
            color: #aaa;
        }

        &:focus {
            outline: none;
            border-color: #2ecc71;
            background-color: #fff;
            box-shadow: 0 0 5px rgba(46, 204, 113, 0.4);
        }

        margin-bottom: 15px;
}

.main button{
    overflow: hiddlen;
    white-space: nowrap;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 60px;
    padding-right: 60px;
    margin: 10px;
    margin-right: 2rem;
    background-color:rgba(30, 150, 100, 0.5);
    color: white;
    cursor: pointer;
}


.Resetpw_invalid input{
    width: 300px;
    height: 45px;
    border-radius: 10px;
    padding: 0 15px;
    font-size: 14px;
    border: 1px solid #b40e0e;
    background-color: #fddddd;
    border-top: none;
    border-left: none;
    border-right: none;
  }
.main input:focus{
    outline: none;
    border-color: #4f005f;
    background: #f6dbfc;
}
.errortext{
    color: #b40e0e;
    font-size: small;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 4vh;
    position: relative;
    top:3vh
}
.reset P{
    font-size: 15px;
    font-weight: bolder;
    color:red;
    margin-bottom: 2vh;
}
.reset button{

    width: 300px;
    height: 45px;
    background-color: #4a5a66; // 짙은 회색 느낌
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s ease;
    margin-bottom: 2vh;
    &:hover {
        background-color: #2c3e50;
    }

    &:disabled {
        background-color: #bbb;
        cursor: not-allowed;
    }
}
