@media screen and (max-width:1920px) {
    .Mainpage_Content_Item{
        display: flex;
        flex-direction: row;
     }
     .Mainpage_Content_Item img{
         width: 34vw;
         height: 80vh;
         border-radius: 30px;
         border-radius: 20px;
     }
     .Mainpage_Content_Item video{
           object-fit: fill;
         width: 34vw;
         height: 80vh;
         border-radius: 30px;
         border-radius: 20px;
     }
     .Mainpage_Content_Item img:hover{
         cursor: pointer;
         width: 34vw;
         height: 80vh;
         border-radius: 30px;
         border-radius: 20px;
     }
     .Mainpage_Content_Item video:hover{
     cursor: pointer;
           object-fit: fill;
         width: 34vw;
         height: 80vh;
         border-radius: 30px;
         border-radius: 20px;
     }
     .Mainpage_Content_userinfo{
        display: flex;
        flex-direction: row;
        width:max-content;  
        height: 5.5vh;
    }
    
    .Mainpage_Content_userinfo img{
        width: 2.5vw;
        height: 6vh;  
        border-radius: 50%;
    }
    .Mainpage_Content_userinfo img:hover{
        height: 6vh;  
        border-radius: 50%;
        cursor: pointer;
    }
    .Mainpage_Content_userinfo h3{
        margin-top: 18px;
        margin-left: 10px;
    }
    .Mainpage_Content_smallprofile{
        position: relative;
        top:-95vh;
        left: 0.5vw;
        background-color: white;
        border:1px solid black;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        border-radius: 10px;
        width: 25vw;
        height: fit-content;
    }
    .Mainpage_Content_imoticon{
        display: flex;
        flex-direction: column;
        gap:1;
        position:relative;
        
      }
      .Mainpage_Content_imoticon p{
          margin-top: 3vh;
          left: 5vw;
      }
      .Mainpage_Content_imoticon img{
          width: 2vw;
          height: 2vh;
      }
      .Mainpage_Content_commnet_post{
        display: flex;
        flex-direction: row;
        position: absolute;
        top:0vh;
        left: 29vw;
        width: 3vw;
        align-items: center;
        justify-content: center;
    }
    .Mainpage_Content_commnet_post p{
        font-size: medium;
        color:#007AFF;
        font-weight: 600;
    }
    .Mainpage_Content_subItem{
        margin-top: -5px;
        display: flex;
        flex-direction: column;
    }
    .Mainpage_Content_subItem h3{
        font-weight: 200;
    }
    
    .Mainpage_Content_subItem input{
        border-left: none;
        border-top: none;
        border-right: none;
        border-bottom: none;
        padding: 0px;
    }
    .Mainpage_Content_subItem input:focus{
        outline: none;
        margin-top: -2.2vh;
        padding: 0px;
    }
    .Mainpage_Content_vertical hr{
        margin-top: 0px;
        width:100%;
        margin-right: 6vw;
    }
    .Mainpage_Content_emojiopen{
        position: absolute;
        bottom: 100%; /* 입력창 위에 뜨게 하기 */
        right: 0;
        z-index: 1000;
        width: max-content;
        background: white;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
    
    }
    .EmojiPickerReact {
        background-color: #222 !important;
        color: white !important;
        border: none !important;
        box-shadow: 0px 4px 12px rgba(255, 255, 255, 0.1) !important;
      }
}
@media screen and (max-width:1536px) {

    .Mainpage_Content_Item{
        display: flex;
        flex-direction: row;
     }
     .Mainpage_Content_Item img{
         width: 34vw;
         height: 80vh;
         border-radius: 30px;
         border-radius: 20px;
     }
     .Mainpage_Content_Item video{
           object-fit: fill;
         width: 34vw;
         height: 80vh;
         border-radius: 30px;
         border-radius: 20px;
     }
     .Mainpage_Content_Item img:hover{
         cursor: pointer;
         width: 34vw;
         height: 80vh;
         border-radius: 30px;
         border-radius: 20px;
     }
     .Mainpage_Content_Item video:hover{
     cursor: pointer;
           object-fit: fill;
         width: 34vw;
         height: 80vh;
         border-radius: 30px;
         border-radius: 20px;
     }
     .Mainpage_Content_userinfo{
        display: flex;
        flex-direction: row;
        width:max-content;   
    }
    
    .Mainpage_Content_userinfo img{  
        height: 6vh;  
        border-radius: 50%;

    }
    .Mainpage_Content_userinfo img:hover{
        height: 6vh;  
        border-radius: 50%;
        cursor: pointer;
    }
    .Mainpage_Content_userinfo h3{
        margin-top: 1.5vh;
        margin-left: 0.5vw;
        width:10vw
    }
    .Mainpage_Content_smallprofile{
        position: relative;
        top:-98vh;
        left: 0.5vw;
        background-color: white;
        border:2px solid black;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        border-radius: 10px;
        width: 25vw;
        height: fit-content;
    }
    .Mainpage_Content_commnet_post{
        display: flex;
        flex-direction: row;
        position: absolute;
        top:0vh;
        left: 29vw;
        width: 3vw;
        align-items: center;
        justify-content: center;
    }
    .Mainpage_Content_commnet_post p{
        font-size: medium;
        color:#007AFF;
        font-weight: 600;
    }

    .Mainpage_Content_imoticon{
        display: flex;
        flex-direction: column;
        gap:1
      }
      .Mainpage_Content_imoticon p{
          margin-top: 3vh;
          left: 5vw;
      }
      .Mainpage_Content_imoticon img{
          width: 2vw;
          height: 2vh;
      }
      .Mainpage_Content_subItem{
        margin-top: -5px;
        display: flex;
        flex-direction: column;
    }
    .Mainpage_Content_subItem h3{
        font-weight: 200;
    }
    
    .Mainpage_Content_subItem input{
        border-left: none;
        border-top: none;
        border-right: none;
        border-bottom: none;
        margin-top: -2.2vh;
        padding: 0px;
        width: 100%;
    }
    .Mainpage_Content_subItem input:focus{
        outline: none;
        margin-top: -2.2vh;
        padding: 0px;
    }

    .Mainpage_Content_vertical hr{
        margin-top: 0px;
        width:100%;
    }
    .Mainpage_Content_emojiopen{
        z-index: 10;
        position: absolute;
        top:-60vh;
        left: 35vw;
    }
    .Content_MyComment{
        display: flex;
        flex-direction: row;
        width: max-content;

    }
    .Content_MyComment h3{
        font-size:smaller;
        font-weight: bolder;
        margin-top: -1vh;
        width: max-content;
    }
    .Content_MyComment p{
        margin-left: 0.5vw;
        margin-top: -1.6vh;
        width: max-content;
    }
    .MainPage_Comments{
        display: flex;
        flex-direction: column;
        width: max-content;
    }
    .MainPage_Comment_input{
        display: flex;
        flex-direction: row;
    }
}

.Mainpage_Content_Item{
   display: flex;
   flex-direction: row;
}
.Mainpage_Content_Item img{
    width: 34vw;
    height: 80vh;
    border-radius: 30px;
    border-radius: 20px;
}
.Mainpage_Content_Item video{
      object-fit: fill;
    width: 34vw;
    height: 80vh;
    border-radius: 30px;
    border-radius: 20px;
}
.Mainpage_Content_Item img:hover{
    cursor: pointer;
    width: 34vw;
    height: 80vh;
    border-radius: 30px;
    border-radius: 20px;
}
.Mainpage_Content_Item video:hover{
cursor: pointer;
      object-fit: fill;
    width: 34vw;
    height: 80vh;
    border-radius: 30px;
    border-radius: 20px;
}

.Mainpage_Content_Multimute{
    position: relative;
    top:-50px;
    left: 480px;
    border-radius: 20px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid black;
    background-color:darkgrey;
    height: fit-content;
    width: fit-content;
   
}
.Mainpage_Content_Multimute img{
    width: 1.5vw;
    height: 3vh;
}

.Mainpage_Content_Multimute img:hover{
    cursor: pointer;
    width: 1.5vw;
    height: 3vh;
}
.Mainpage_Content_mute{
    position: relative;
    left: -2.5vw;
    top:74vh;
    border-radius: 20px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid black;
    background-color:darkgrey;
    height: fit-content;
}
.Mainpage_Content_mute img{
    width: 1.5vw;
    height: 3vh;
}

.Mainpage_Content_mute img:hover{
    cursor: pointer;
    width: 1.5vw;
    height: 3vh;
}


.Mainpage_Content_MultiItem{
    width: 34vw;
    height: 80vh;
    border-radius: 30px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    
}
.Mainpage_Content_MultiItem video{
    object-fit: fill;
    width: 34vw;
    height: 80vh;
    border-radius: 30px;
    border-radius: 20px;
}
.Mainpage_Content_MultiItem video:hover{
    object-fit: fill;
    width: 34vw;
    height: 80vh;
    border-radius: 30px;
    border-radius: 20px;
}

#image{
    width: 34vw;
    height: 80vh;
    border-radius: 30px;
    border-radius: 20px;
    cursor: pointer;
}

.Mainpage_Content_slide_right{
    margin-top: -7vh;
    display: flex;
    flex-direction: row;
    z-index: 1;
    cursor: pointer;
    position: relative;
    top:43vh;
    left: 30vw;
    
}
.Mainpage_Content_slide_right img{
    width: 4vw;
    height: 8vh;
}

.Mainpage_Content_slide_left{
    margin-top: -7vh;
    display: flex;
    flex-direction: row;
    z-index: 1;
    cursor: pointer;
    position: relative;
    top:43vh;
    right: 0vw;
}
.Mainpage_Content_slide_left img{
    width: 4vw;
    height: 8vh;
}

.Mainpage_Content_Icon{
    display: flex;
    flex-direction: row;
    margin-top: 1vh;
    gap: 5px;
}
.Mainpage_Content_Icon img{
    margin-left: 5px;
    width: 2vw;
    height: 3vh;
    cursor: pointer;
}

#reply:hover{
    opacity: 0.5;
}

#heart:hover{
    opacity: 0.5;
}







.Mainpage_Content_cpmodal{
    width: 20vw;
    height: 25vh;
    position: fixed;
    top: 30vh;
    left: 40vw;
    background-color:white;
    border-radius: 14px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 20;
    animation: slide-down 300ms ease-out forwards;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-wrap: wrap;
}
.Mainpage_Content_cpmodal button,
.Mainpage_Content_cpmodal button:hover{
    text-align: center;
    background-color:rgb(0, 166, 255);
    border-radius: 15px;
    width: 10vw;
    margin-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    margin-bottom: 10px;
    cursor: pointer;
}


.Mainpage_Content_cpmodal h4{
    font-size: small;
    font-weight: bold;
    margin-top: -2vh;
}

