.MainPage_ContetItem{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;

}
.MainPage_ContetItem img{
    width: 8vw;
    height: 15vh;
}

.MainPage_Contetimg{
    margin-right: 8px;
}

