.Naver_loding_main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}

.Naver_Isblur{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    filter: blur(5px); /* 기본적으로 블러 효과 */
    pointer-events: none; /* 클릭 방지 */
    transition: filter 0.3s ease, pointer-events 0s ease 0.3s;
}