.CertifiTimer_Contain{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.CertifiTimer_Contain p{
    font-size: 15px;
    font-weight: bold;
    margin-left: 1vw;
}

