
@media (min-width: 1550px) and (max-width: 1920px) {
.PartiChatList_Main{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid black;
}
.PartiChatList_Main:hover{
    display: flex;
    flex-direction: row;
    background-color: darkgrey;
    border-bottom: 1px solid black;
    cursor: pointer;
}
.PartiChatList_Main_Focus,
.PartiChatList_Main_Focus:hover{
    display: flex;
    flex-direction: row;
    background-color: darkgrey;
    cursor: pointer;
}

.PartiChatList_contents{
    display: flex;
    flex-direction: column;
    margin-left: -1.5vw;
    justify-content: space-between;
    height: 100%; 
}
.PartiChatList_contents p{
    margin-top: 3.5vh;
    font-weight: bolder;
    font-size: 20px;
}
.PartiChatList_contents h4{
    margin-top: 4.3vh;
    margin-left: 0.4vw;
}
.PartiChatList_info{
    display: flex;
    flex-direction: row;
    margin-top: -0.5vh;
    width: 15vw;
}
.PartiChatList_info h4{
    margin-top: 3.5vh;
}
.PartiChatList_story{
    margin-top: -6vh;
}
.PartiChatList_story p{
    font-weight: lighter;
}
.ChatList_ChatAlarm{
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: red;
    border-radius: 20px;
    margin-bottom: 1vh;
    height:1vh;
    color:white;
    margin-left:1.3vw;
    margin-top:1vh;
}
}


@media(max-width: 1550px) {
    .PartiChatList_Main{
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid black;

    }
    .PartiChatList_Main:hover{
        display: flex;
        flex-direction: row;
        background-color: darkgrey;
        cursor: pointer;
    }
    .PartiChatList_Main_Focus,
    .PartiChatList_Main_Focus:hover{
    display: flex;
    flex-direction: row;
    background-color: darkgrey;
    cursor: pointer;
    }
    
    .PartiChatList_contents{
        display: flex;
        flex-direction: column;
        margin-left: -1.5vw;
    }
    .PartiChatList_contents p{
        margin-top: 3.5vh;
        font-weight: bolder;
    }
    .PartiChatList_contents h4{
        margin-top: 4.3vh;
        margin-left: 0.4vw;
    }
    .PartiChatList_info{
        display: flex;
        flex-direction: row;
        margin-top: -0.5vh;
        width: 15vw;
    }
    .PartiChatList_info h4{
        margin-top: 3.5vh;
    }
    .PartiChatList_story{
        margin-top: -6vh;
    }
    .PartiChatList_story p{
        font-weight: lighter;
        height: 3vh;
    }
    .ChatList_ChatAlarm{
        position: relative;
        display: flex;
        align-items: center;
        padding: 10px;
        background-color: red;
        border-radius: 20px;
        margin-bottom: 1vh;
        height:1vh;
        color:white;
        margin-left:1.3vw;
        margin-top:1vh;
    }

}