
.content_List{
    display: flex;
    flex-direction: row;  
    width: 60vw;
    flex-wrap: wrap;
    position: absolute;
    top:46vh;
    left: 25vw;
  }
  .Profile_FileListMain{
    margin-right: 1vw;
  }
