
.side{
    display: flex;
    flex-wrap:nowrap;
    flex-direction: column;

}
.side h3{
    padding-left: 60px;
    font-size: xx-large;
    font-weight: 400px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.side ul{
    margin-top: -40px;
    padding-left: 10px;
    list-style: none;
}

.side li{
    font-size: x-large;
    font-weight: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    padding-bottom: 60px;
}

.side hr{
    width:11.6%;
    height: 1px;
    margin-left:0px;
    margin-top: -10px;
    background-color: black;
}
.side img{
position:absolute;
top:120px;
left: 50px;
width:130px;
height:105px;
object-fit: cover;
}

.vertical{
    border-left : 1px solid black;
    height : 700px;
    margin-left: 220px;
    margin-top: -625px;
}