.Headernav{
    font-weight: bold;
    font-size: medium;
}

.Headerlogin{
    color:black;

}

.Headersign{

    color:black;

}
.Headerhome{
    color:black;
    font-size: larger;
}
.Headernav ul{
    display: flex;
    list-style: none;
    cursor: pointer;
    margin-top: 5vh;
}
.Headernav li{
    font-size: medium;
    padding-left: 5px;
    padding-right: 2rem;
    margin-top: -2vh;
    margin-bottom: -9px;
}