.CancelFw_userinfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.CancelFw_userinfo h3{
    margin-left: 7px;
    font-weight: bold;
}
.CancelFw_userinfo p{
    font-size: 20px;
  font-weight: 500;
  color: #222;
  margin-bottom: 24px;
  line-height: 1.4;
  white-space: pre-wrap;
  word-break: keep-all;
}

.CancelFw_userinfo img{
    width:4vw;    
    height: 8vh;
    border-radius: 50%;
    margin-top: 3vh;
    object-fit: cover;
}
.MainBackDrop{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.CancelFw_Main{
    width: 30vw;
    position: fixed;
    top: 20vh;
    left: 35vw;
    background-color:white;
    border-radius: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 20;
    animation: slide-down 300ms ease-out forwards;
    height: 45vh;
  }
  .CancelFw_btn{
    display: flex;
    flex-direction: column;
    width: 20vw;
    align-items: center;  
    gap: 10px; 
    margin-left: 5vw;
  }
  #btn_Cancel_fw{
  background-color: #e15b51;
  color: white;
  border: none;
  padding: 12px 0;
  width: 100%;
  border-radius: 10px;
  font-size: 15px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background 0.2s;
  }

  #btn_Cancel{
      background-color: #f2f2f2;
  color: #444;
  border: none;
  padding: 12px 0;
  width: 100%;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
  transition: background 0.2s;
  }


  .CancelFw_btn button,
  .CancelFw_btn button:hover{
    border-left: none;
    border-right: none;
    border-bottom: none;
    text-align: center;
    height: 7vh;   
    background-color: white;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    cursor: pointer;
  }

