@media (min-width: 1550px) and (max-width: 1920px){
.TagListItems_Stand{
    display: flex;
    flex-direction: row;
    width: 18.5vw;
    margin-top: -1vh;
}
.TagListItems_Stand img{
    width: 9vw;
    height: 5vh;
    border-radius: 50%;
    margin-left: 0.5vw;
    margin-top:1vh;
}
.TagListItems_Profiles{
    display: flex;
    flex-direction: column;
    margin-left: 0.5vw;
    margin-top: -0.5vh;
    width: 100%;

}
.TagListItems_Profiles p{
    margin-top: -2vh;
    font-size: medium;
    align-items: flex-start;
    text-align: left;
}
.TagListItems_Profiles h3{
    font-size: small;
    align-items: flex-start;
    text-align: left;
}
.TagListItems_delete{
   width: max-content;
   height: max-content;
}
.TagListItems_delete img{
    width: 3vw;
    height: 5vh;
    border-radius: 50%;
    margin-left: 6.5vw;
    margin-top:1vh;
}
}

@media(max-width: 1540px){
    .TagListItems_Stand{
        display: flex;
        flex-direction: row;
        width: 18.5vw;
        margin-top: -1vh;
    }
    .TagListItems_Stand img{
        width: 9vw;
        height: 5vh;
        border-radius: 50%;
        margin-left: 0.5vw;
        margin-top:1vh;
    }
    .TagListItems_Profiles{
        display: flex;
        flex-direction: column;
        margin-left: 0.5vw;
        margin-top: -0.5vh;
        width: 100%;
    
    }
    .TagListItems_Profiles p{
        margin-top: -2vh;
        font-size: medium;
        align-items: flex-start;
        text-align: left;
    }
    .TagListItems_Profiles h3{
        font-size: small;
        align-items: flex-start;
        text-align: left;
    }
    .TagListItems_delete{
       width: max-content;
       height: max-content;
    }
    .TagListItems_delete img{
        width: 3vw;
        height: 5vh;
        border-radius: 50%;
        margin-left: 6.5vw;
        margin-top:1vh;
    }
    }