@media (min-width:1550px) and (max-width:1920px) {
    .Mainpage_Content_Item{
        display: flex;
        flex-direction: row;
     }
     .Mainpage_Content_Item img{
         width: 34vw;
         height: 80vh;
         border-radius: 30px;
         border-radius: 20px;
     }
     .Mainpage_Content_Item video{
           object-fit: fill;
         width: 34vw;
         height: 80vh;
         border-radius: 30px;
         border-radius: 20px;
     }
     .Mainpage_Content_Item img:hover{
         cursor: pointer;
         width: 34vw;
         height: 80vh;
         border-radius: 30px;
         border-radius: 20px;
     }
     .Mainpage_Content_Item video:hover{
     cursor: pointer;
           object-fit: fill;
         width: 34vw;
         height: 80vh;
         border-radius: 30px;
         border-radius: 20px;
     }
     .Mainpage_Content_userinfo{
        display: flex;
        flex-direction: row;
        width:max-content;  
        height: 5.5vh;
        margin-bottom: 1vh;
        margin-left: 2vw;
    }
    
    .Mainpage_Content_userinfo img{
        width: 2.5vw;
        height: 6vh;  
        border-radius: 50%;
    }
    .Mainpage_Content_userinfo img:hover{
        height: 6vh;  
        border-radius: 50%;
        cursor: pointer;
    }
    .Mainpage_Content_userinfo h3{
        margin-top: 18px;
        margin-left: 10px;
    }
    .Mainpage_Content_userinfo p{
        margin-left: 0.5vw;
        margin-top: 2vh;
        font-size: medium;
        color: darkgray;
    }
    .Mainpage_Content_smallprofile{
        position: absolute;
        top:6vh;
        left: 2vw;
        background-color: white;
        border:1px solid black;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        border-radius: 10px;
        width: 25vw;
        height: fit-content;
        z-index: 10;
    }
    .Mainpage_Content_imoticon{
        display: flex;
        flex-direction: column;
        gap:1;
        position:relative;
        
      }
      .Mainpage_Content_imoticon p{
          margin-top: 3vh;
          left: 5vw;
      }
      .Mainpage_Content_imoticon img{
          width: 1vw;
          height: 2vh;
          margin-top: 1vh;
      }
      .Mainpage_Content_commnet_post{
        display: flex;
        flex-direction: row;
        position: absolute;
        top:-2vh;
        left: 30.5vw;
        width: 3vw;
        align-items: center;
        justify-content: center;
    }
    .Mainpage_Content_commnet_post p,
    .Mainpage_Content_commnet_post p:hover{
        font-size: medium;
        color:#007AFF;
        font-weight: 600;
        cursor: pointer;
    }
    .Mainpage_Content_subItem{
        margin-top: -5px;
        display: flex;
        flex-direction: column;
        margin-left: 2vw;
    }
    .Mainpage_Content_subItem h3{
        font-weight: 200;
    }
    
    .Mainpage_Content_subItem input{
        border-left: none;
        border-top: none;
        border-right: none;
        border-bottom: none;
        padding: 0px;
    }
    .Mainpage_Content_subItem input:focus{
        outline: none;
        margin-top: -2.2vh;
        padding: 0px;
    }
    .Mainpage_Content_vertical hr{
        margin-top: 0px;
        width:34vw;        
        margin-left: 2vw;
    }
    .Mainpage_Content_emojiopen{
        position: absolute;
        bottom: 100%; /* 입력창 위에 뜨게 하기 */
        right: 0;
        z-index: 1000;
        width: max-content;
        background: white;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
    
    }
    .EmojiPickerReact {
        background-color: #222 !important;
        color: white !important;
        border: none !important;
        box-shadow: 0px 4px 12px rgba(255, 255, 255, 0.1) !important;
      }
      .Mainpage_Content_Multimute{
        position: relative;
        top:-5.5vh;
        left: 31.5vw;
        border-radius: 20px;
        padding-top: 5px;
        padding-left: 5px;
        padding-right: 5px;
        border: 1px solid black;
        background-color:darkgrey;
        height: fit-content;
        width: fit-content;
       
    }
    #test{
        cursor: pointer;
        width: 1.5vw;
        height: 3vh;
    }
      .Mainpage_Content_Multimute   img{
        width: 1.5vw;
        height: 3vh;
    }
    
    .Mainpage_Content_Multimute  img:hover{
        cursor: pointer;
        width: 1.5vw;
        height: 3vh;
    }
    .Mainpage_Content_mute{
        position: relative;
        left: -2.5vw;
        top:74vh;
        border-radius: 20px;
        padding-top: 5px;
        padding-left: 5px;
        padding-right: 5px;
        border: 1px solid black;
        background-color:darkgrey;
        height: fit-content;
    }
    .Mainpage_Content_mute img{
        width: 1.5vw;
        height: 3vh;
    }
    
    .Mainpage_Content_mute img:hover{
        cursor: pointer;
        width: 1.5vw;
        height: 3vh;
    }
    .Mainpage_Content_MultiItem{
        width: 34vw;
        height: 80vh;
        border-radius: 30px;
        border-radius: 20px;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        margin-left: 2vw;
        
    }
    .Mainpage_Content_MultiItem video{
        object-fit: fill;
        width: 34vw;
        height: 80vh;
        border-radius: 30px;
        border-radius: 20px;
    }
    .Mainpage_Content_MultiItem video:hover{
        object-fit: fill;
        width: 34vw;
        height: 80vh;
        border-radius: 30px;
        border-radius: 20px;
    }
    .Mainpage_Content_MultiItem  img{
        object-fit: fill;
        width: 34vw;
        height: 80vh;
        border-radius: 30px;
        border-radius: 20px;
    }
    .Mainpage_Content_MultiItem  img:hover{
        object-fit: fill;
        width: 34vw;
        height: 80vh;
        border-radius: 30px;
        border-radius: 20px;
    }
    .Mainpage_Content_slide_right{
        margin-top: -7vh;
        display: flex;
        flex-direction: row;
        z-index: 1;
        cursor: pointer;
        position: relative;
        top:43vh;
        left: 30vw;
        
    }
    .Mainpage_Content_slide_right img{
        width: 4vw;
        height: 8vh;
    }
    
    .Mainpage_Content_slide_left{
        margin-top: -7vh;
        display: flex;
        flex-direction: row;
        z-index: 1;
        cursor: pointer;
        position: relative;
        top:43vh;
        right: 0vw;
    }
    .Mainpage_Content_slide_left img{
        width: 4vw;
        height: 8vh;
    }
    .Mainpage_Content_Icon{
        display: flex;
        flex-direction: row;
        margin-top: 1vh;
        gap: 5px;
        margin-left: 2vw;
    }
    .Mainpage_Content_Icon img{
        margin-left: 5px;
        width: 2vw;
        height: 3vh;
        cursor: pointer;
    }
    .Mainpage_Content_cpmodal{
        width: 20vw;
        height: 25vh;
        position: fixed;
        top: 30vh;
        left: 40vw;
        background-color:white;
        border-radius: 14px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
        z-index: 20;
        animation: slide-down 300ms ease-out forwards;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-wrap: wrap;
    }
    .Mainpage_Content_cpmodal button,
    .Mainpage_Content_cpmodal button:hover{
        text-align: center;
        background-color:rgb(0, 166, 255);
        border-radius: 15px;
        width: 10vw;
        margin-left: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        color: white;
        margin-bottom: 10px;
        cursor: pointer;
    }
    
    
    .Mainpage_Content_cpmodal h4{
        font-size: small;
        font-weight: bold;
        margin-top: -2vh;
    }
    .MainPage_Comment_input_extend{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 4vh;
        margin-top: -0.6vh;
    }
    .MainPage_Comment_input_extend input,
    .MainPage_Comment_input_extend input:hover{
        border-top: none;
        border-bottom: none;
        border-left: none;
        border-right: none;
        width: 100%;
        height: 4vh;
        margin-left: 0vw;
        margin-top: 0vh;
        cursor: pointer;

    }
    .MainPage_Comment_input{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 4vh;
        margin-top: -2vh;
    }
    .MainPage_Comment_input input,
    .MainPage_Comment_input input:hover{
        border-top: none;
        border-bottom: none;
        border-left: none;
        border-right: none;
        width: 100%;
        height: 4vh;
        margin-left: 0vw;
        margin-top: 0vh;
        cursor: pointer;

    }
    .Content_MyComment{
        display: flex;
        flex-direction: row;
        width: max-content;
        margin-top: -2vh;

    }
    .Content_MyComment h3{
        font-size:smaller;
        font-weight: bolder;
        margin-top: 0.5vh;
        width: max-content;
    }
    .Content_MyComment h4{
        font-size:smaller;
        margin-top: 0.5vh;
        width: max-content;
        margin-left: 0.2vw;
        font-weight: lighter;
    }
    .Content_MyComment p,
    .Content_MyComment p:hover{
        margin-left: 0.2vw;
        margin-top: 0.5vh;
        width: max-content;
        cursor: pointer;
    }
    .MyComment_fullText{
        width: 34vw;
        max-width: 34vw;
        display: flex;
        flex-wrap: wrap;
    }
    .Comments_text_show{
        width: max-content;
        height: max-content;
        padding: 0px;
        display: flex;
        flex-wrap: wrap;
        margin-top: -4vh;
        margin-bottom: 1vh;
    }
    .Comments_text_show p{
        font-size: small;
        font-weight: bolder;
    }

    .MainContent_Comment_cnt{
        display: flex;
        flex-direction: row;
        width: max-content;
        margin-top: -4.5vh;
        margin-bottom: -1vh;
       }
    .MainContent_Comment_cnt p,
    .MainContent_Comment_cnt p:hover{
        color:darkgray;
        cursor: pointer;
        font-size: small;
    }
    .MainContent_Comment_cnt_extend{
        display: flex;
        flex-direction: row;
        width: max-content;
        margin-top: -2vh;
        margin-bottom: -1vh; 
    }
    .MainContent_Comment_cnt_extend p,
    .MainContent_Comment_cnt_extend p:hover{
        color:darkgray;
        cursor: pointer;
        font-size: small;
    }

}
@media screen and (max-width:1536px) {


    .Mainpage_Content_Item{
        display: flex;
        flex-direction: row;
     }
     .Mainpage_Content_Item img{
         width: 34vw;
         height: 80vh;
         border-radius: 30px;
         border-radius: 20px;
     }
     .Mainpage_Content_Item video{
           object-fit: fill;
         width: 34vw;
         height: 80vh;
         border-radius: 30px;
         border-radius: 20px;
     }
     .Mainpage_Content_Item img:hover{
         cursor: pointer;
         width: 34vw;
         height: 80vh;
         border-radius: 30px;
         border-radius: 20px;
     }
     .Mainpage_Content_Item video:hover{
     cursor: pointer;
           object-fit: fill;
         width: 34vw;
         height: 80vh;
         border-radius: 30px;
         border-radius: 20px;
     }
     .Mainpage_Content_userinfo{
        display: flex;
        flex-direction: row;
        width:max-content;   
        margin-left: 2vw;
    }
    
    .Mainpage_Content_userinfo img{  
        height: 6vh;  
        border-radius: 50%;

    }
    .Mainpage_Content_userinfo img:hover{
        height: 6vh;  
        border-radius: 50%;
        cursor: pointer;
    }
    .Mainpage_Content_userinfo h3{
        margin-top: 1.5vh;
        margin-left: 0.5vw;
        width:10vw
    }
    .Mainpage_Content_userinfo p{
        margin-left: -7.5vw;
        margin-top: 1.5vh;
        font-size: medium;
        color: darkgray;
    }
    .Mainpage_Content_smallprofile{
        position: absolute;
        top:6vh;
        left: 0vw;
        background-color: white;
        border:2px solid black;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        border-radius: 10px;
        width: 25vw;
        height: fit-content;
    }
    .Mainpage_Content_commnet_post{
        display: flex;
        flex-direction: row;
        position: absolute;
        top:-3vh;
        left: 29vw;
        width: 3vw;
        align-items: center;
        justify-content: center;
    }
    .Mainpage_Content_commnet_post p,
    .Mainpage_Content_commnet_post p:hover{
        font-size: medium;
        color:#007AFF;
        font-weight: 600;
        cursor: pointer;
    }
    #test{
        cursor: pointer;
        width: 1.5vw;
        height: 3vh;
    }
    .Mainpage_Content_imoticon{
        display: flex;
        flex-direction: column;
        gap:1;
      }
      .Mainpage_Content_imoticon p{
          margin-top: 3vh;
          left: 5vw;
      }
      .Mainpage_Content_imoticon img{
        width: 1vw;
        height: 2vh;
        margin-top: 1vh;
      }
      .Mainpage_Content_subItem{
        margin-top: -5px;
        display: flex;
        flex-direction: column;
        margin-left: 2vw;
    }
    .Mainpage_Content_subItem h3{
        font-weight: 200;
    }
    
    .Mainpage_Content_subItem input{
        border-left: none;
        border-top: none;
        border-right: none;
        border-bottom: none;
        margin-top: -2.2vh;
        padding: 0px;
        width: 100%;
        margin-left: 0vw;
    }
    .Mainpage_Content_subItem input:focus{
        outline: none;
        margin-top: -2.2vh;
        padding: 0px;
    }

    .Mainpage_Content_vertical hr{
        margin-top: 0px;
        width:34vw;
        margin-left: 2vw;
        
    }
    .Mainpage_Content_emojiopen{
        z-index: 10;
        position: absolute;
        top:-60vh;
        left: 35vw;
    }
    .Content_MyComment{
        display: flex;
        flex-direction: row;
        width: max-content;
        margin-top: -2vh;

    }
    .Content_MyComment h3{
        font-size:smaller;
        font-weight: bolder;
        margin-top: 0.5vh;
        width: max-content;
    }
    .Content_MyComment h4{
        font-size:smaller;
        margin-top: 0.5vh;
        width: max-content;
        margin-left: 0.2vw;
        font-weight: lighter;
    }
    .Content_MyComment p,
    .Content_MyComment p:hover{
        margin-left: 0.2vw;
        margin-top: 0.5vh;
        width: max-content;
        cursor: pointer;
    }
    .MyComment_fullText{
        width: 34vw;
        max-width: 34vw;
        display: flex;
        flex-wrap: wrap;
    }

    
    .MainPage_Comments{
        display: flex;
        flex-direction: column;
        width: max-content;
    }
    .MainPage_Comment_input{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 4vh;
        position: relative;
        margin-top: -1vh;
    }
    .MainPage_Comment_input input,
    .MainPage_Comment_input input:hover{
        border-top: none;
        border-bottom: none;
        border-left: none;
        border-right: none;
        width: 32vw;
        height: 4vh;
        margin-left: 0vw;
        margin-top: -1vh;
        cursor: pointer;

    }
        .MainPage_Comment_input_extend{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 4vh;
        margin-top: -0.6vh;
        position: relative;
    }
    .MainPage_Comment_input_extend input,
    .MainPage_Comment_input_extend input:hover{
        border-top: none;
        border-bottom: none;
        border-left: none;
        border-right: none;
        width: 100%;
        height: 4vh;
        margin-left: 0vw;
        margin-top: 0vh;
        cursor: pointer;

    }
    .Comments_loading{
        margin-top: 0vh;
        margin-left: 15vw;
    }
    .Comments_text_show{
        width: max-content;
        height: max-content;
        padding: 0px;
        display: flex;
        flex-wrap: wrap;
        margin-top: -4vh;
    }
    .Comments_text_show p{
        font-size: small;
        font-weight: bolder;
    }
    .Note_Complete_SendBackDrop{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 30;
        background-color: rgba(0, 0, 0, 0.75);
    }
    .Note_Complete_Main{
        width: 30vw;
        height: 20vh;
        position: fixed;
        top: 10vh;
        left: 32vw;
        background-color:white;
        border-radius: 14px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
        z-index: 50;
        animation: slide-down 300ms ease-out forwards;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

    }
    .Note_Complete_Main p{
        font-size: medium;
        font-weight: bolder;
    }
    .MainContent_Comment_cnt{
     display: flex;
     flex-direction: row;
     width: max-content;
     margin-top: -5vh;
     margin-bottom: -1vh;
    }
    .MainContent_Comment_cnt p,
    .MainContent_Comment_cnt p:hover{
        color:darkgray;
        cursor: pointer;
        font-size: small;
    }
    .MainContent_Comment_cnt_extend{
        display: flex;
        flex-direction: row;
        width: max-content;
        margin-top: -2vh;
        margin-bottom: -1vh; 
    }
    .MainContent_Comment_cnt_extend p,
    .MainContent_Comment_cnt_extend p:hover{
        color:darkgray;
        cursor: pointer;
        font-size: small;
    }
    .Mainpage_Content_Multimute{
        position: relative;
        top:-50px;
        left: 480px;
        border-radius: 20px;
        padding-top: 5px;
        padding-left: 5px;
        padding-right: 5px;
        border: 1px solid black;
        background-color:darkgrey;
        height: fit-content;
        width: fit-content;
       
    }
    .Mainpage_Content_Multimute > img{
        width: 1.5vw;
        height: 3vh;
    }
    
    .Mainpage_Content_Multimute > img:hover{
        cursor: pointer;
        width: 1.5vw;
        height: 3vh;
    }
    .Mainpage_Content_mute{
        position: relative;
        left: -2.5vw;
        top:74vh;
        border-radius: 20px;
        padding-top: 5px;
        padding-left: 5px;
        padding-right: 5px;
        border: 1px solid black;
        background-color:darkgrey;
        height: fit-content;
    }
    .Mainpage_Content_mute img{
        width: 1.5vw;
        height: 3vh;
    }
    
    .Mainpage_Content_mute img:hover{
        cursor: pointer;
        width: 1.5vw;
        height: 3vh;
    }
    .Mainpage_Content_MultiItem{
        width: 34vw;
        height: 80vh;
        border-radius: 30px;
        border-radius: 20px;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        margin-left: 2vw;
        //position: relative;

        
    }
    .Mainpage_Content_MultiItem video{
        object-fit: fill;
        width: 34vw;
        height: 80vh;
        border-radius: 30px;
        border-radius: 20px;
    }
    .Mainpage_Content_MultiItem video:hover{
        object-fit: fill;
        width: 34vw;
        height: 80vh;
        border-radius: 30px;
        border-radius: 20px;
    }
        .Mainpage_Content_MultiItem img{
        object-fit: fill;
        width: 34vw;
        height: 80vh;
        border-radius: 30px;
        border-radius: 20px;
    }
    .Mainpage_Content_MultiItem img:hover{
        object-fit: fill;
        width: 34vw;
        height: 80vh;
        border-radius: 30px;
        border-radius: 20px;
    }
    .Mainpage_Content_slide_right{
        margin-top: -7vh;
        display: flex;
        flex-direction: row;
        z-index: 1;
        cursor: pointer;
        position: relative;
        top:43vh;
        left: 30vw;
        
    }
    .Mainpage_Content_slide_right img{
        width: 4vw;
        height: 8vh;
    }
    
    .Mainpage_Content_slide_left{
        margin-top: -7vh;
        display: flex;
        flex-direction: row;
        z-index: 1;
        cursor: pointer;
        position: relative;
        top:43vh;
        right: 0vw;
    }
    .Mainpage_Content_slide_left img{
        width: 4vw;
        height: 8vh;
    }
    .Mainpage_Content_Icon{
        display: flex;
        flex-direction: row;
        margin-top: 1vh;
        gap: 5px;
        margin-left: 2vw;
    }
    .Mainpage_Content_Icon img{
        margin-left: 5px;
        width: 2vw;
        height: 3vh;
        cursor: pointer;
    }
    .Mainpage_Content_cpmodal{
        width: 20vw;
        height: 25vh;
        position: fixed;
        top: 30vh;
        left: 40vw;
        background-color:white;
        border-radius: 14px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
        z-index: 20;
        animation: slide-down 300ms ease-out forwards;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-wrap: wrap;
    }
    .Mainpage_Content_cpmodal button,
    .Mainpage_Content_cpmodal button:hover{
        text-align: center;
        background-color:rgb(0, 166, 255);
        border-radius: 15px;
        width: 10vw;
        margin-left: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        color: white;
        margin-bottom: 10px;
        cursor: pointer;
    }
    
    
    .Mainpage_Content_cpmodal h4{
        font-size: small;
        font-weight: bold;
        margin-top: -2vh;
    }
    .MyComment_fullText{
        width: 35vw;
        max-width: 35vw;
        display: flex;
        flex-wrap: wrap;
    }

    .Content_MyComment h4{
        font-size:smaller;
        margin-top: 0.5vh;
        width: max-content;
        margin-left: 0.2vw;
        font-weight: lighter;
    }
}


