/*
.Main_Contents{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -4vh;
    margin-left: -10vw;
   
}

.Main_Contents h2{
    margin-top:-10px;
    text-align: center;
    color: chocolate;
    margin-top: -3vh;
    margin-bottom: 4vh;
}

.Main_Contents > input{
    margin-top: -10px;
    width: 500px;
    height: 45px;
    border-radius: 30px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}
    */
@media  (min-width:1550px) and (max-width:1920px) {

    .Main_Contents{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: -4vh;
        margin-left: -2vw;
       background-color: "#FFF7F0"
    }
    
    .Main_Contents h2{
        margin-top:-10px;
        text-align: center;
        color: chocolate;
        margin-top: -3vh;
        margin-bottom: 4vh;
    }
    
    .Main_Contents >input{
        margin-top: -10px;
        width: 620px;
        height: 45px;
        border-radius: 30px;
        padding-left: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
        cursor: pointer;
    }
    .upload_story{
        display: flex;
        flex-direction: column;
        position: relative;
        top:7vh;
        left: 40vw;
    }
    .upload_story p{
        margin-top: 3vh;
        color:darkgrey;
        font-size: large;
        font-weight: bolder;
        margin-left: 2vw;
    }
    .upload_story img{
        margin-top: 5vh;
        width: 20vw;
        height: 20vh;
    }

}

@media screen and (max-width:1536px) {
    .login_loading{
        position: absolute;
        top:1vh;
        left: 3vw;
        z-index: 999;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: loading-dots 1.5s steps(1) infinite;
    }
    .login_loading::after {
        content: ".";
        font-size: 24px;
        font-family: Arial, sans-serif;
        display: inline-block;
        margin-top: 3vh;
        animation: loading-dots 2.5s steps(1) infinite;
      }
    .Maincontents_body_blur{
        filter: blur(5px); /* 기본적으로 블러 효과 */
        pointer-events: none; /* 클릭 방지 */
        transition: filter 0.3s ease, pointer-events 0s ease 0.3s;
        
    }
    .Main_Contents{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: -10vh;
        margin-left: 33vw;
        margin-bottom: 2vh;
        width: 30vw;
        width: max-content;
        height: max-content;
       
    }
    
    .Main_Contents h2{
        margin-top:-10px;
        text-align: center;
        color: chocolate;
        margin-top: -3vh;
        margin-bottom: 4vh;
        //margin-left: 3vw;
        

    }
    
    .Main_Contents > input{
        margin-left: -3vw;
        width: 30vw;
        height: 45px;
        border-radius: 30px;
        padding-left: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 100px;
        cursor: pointer;
    }

    .upload_story{
        display: flex;
        flex-direction: column;
        position: relative;
        top:7vh;
        left: 40vw;
    }
    .upload_story p{
        margin-top: 3vh;
        color:darkgrey;
        font-size: large;
        font-weight: bolder;
    }
    .upload_story img{
        margin-top: 5vh;
        width: 20vw;
        height: 20vh;
    }
}