
@media (min-width: 1200px) and (max-width: 1540px) {

    
    .Nickinvalid input{
        border: 1px solid #b40e0e;
        background-color: #fddddd;
        padding: 10rem;
         
    }
    .Nickinvalid input::placeholder{
        color: #b40e0e;
        padding: 0rem;
    }
    .Nickinput button{
        cursor: pointer;
        position: absolute;
        display: flex;
        align-items: center;
        justify-self: center;
        top:60vh;
        left:29vw;
        height: 4vh;
        border-radius: 15px;
        color: white;
        margin-top: 1.75rem;
        background-color:rgba(30, 150, 100, 0.5);
        white-space : nowrap; 
    }
    .Nickinvalid button{
        cursor: pointer;
        position: absolute;
        display: flex;
        align-items: center;
        justify-self: center;
        top:68vh;
        left:29vw;
        height: 4vh;
        border-radius: 15px;
        color: white;
        margin-top: 1.75rem;
        background-color:rgba(30, 150, 100, 0.5);
        white-space : nowrap; 
    }
    .Nickinput button:disabled,
    .Nickinput button:focus:disabled,
    .Nickinput button:hover:disabled,
    .Nickinput button:active:disabled{
        display: flex;
        align-items: center;
        justify-self: center;
        height: 4vh;
        background: #ccc;
        border-color: #ccc;
        color: #666666;
        cursor: not-allowed;
    }
    
    .Nickinvalid button:disabled,
    .Nickinvalid button:focus:disabled,
    .Nickinvalid button:hover:disabled,
    .Nickinvalid button:active:disabled{
        display: flex;
        align-items: center;
        justify-self: center;
        height: 4vh;
        background: #ccc;
        border-color: #ccc;
        color: #666666;
        cursor: not-allowed;
    }

    .Emailinvalid input{
        border: 1px solid #b40e0e;
        background-color: #fddddd;
        padding: 10rem;
         
    }
    .Emailinvalid input::placeholder{
        color: #b40e0e;
        padding: 0rem;
    }
    .Emailinput button{
        cursor: pointer;
        display: flex;
        position: absolute;
        align-items: center;
        justify-self: center;
        top:70vh;
        left:29vw;
        height: 4vh;
        border-radius: 15px;
        color: white;
        margin-top: 1.75rem;
        background-color:rgba(30, 150, 100, 0.5);
        white-space : nowrap; 
    }
    .Emailinvalid button{
        cursor: pointer;
        display: flex;
        position: absolute;
        align-items: center;
        justify-self: center;
        top:78vh;
        left:29vw;
        height: 4vh;
        border-radius: 15px;
        color: white;
        margin-top: 1.75rem;
        background-color:rgba(30, 150, 100, 0.5);
        white-space : nowrap; 
    }
    
    .Emailinput button:disabled,
    .Emailinput button:focus:disabled,
    .Emailinput button:hover:disabled,
    .Emailinput button:active:disabled{
        display: flex;
        align-items: center;
        justify-self: center;
        height: 4vh;
        background: #ccc;
        border-color: #ccc;
        color: #666666;
        cursor: not-allowed;
    }
    
    .Emailinvalid button:disabled,
    .Emailinvalid button:focus:disabled,
    .Emailinvalid button:hover:disabled,
    .Emailinvalid button:active:disabled{
        display: flex;
        align-items: center;
        justify-self: center;
        height: 4vh;
        background: #ccc;
        border-color: #ccc;
        color: #666666;
        cursor: not-allowed;
    }
    
    .Idinvalid input{
        border: 1px solid #b40e0e;
        background-color: #fddddd;
        padding: 10rem;
    }
    
    .Idinvalid input::placeholder{
        color: #b40e0e;
        padding: 0rem;
    }
        
    .Idinput{
        //width: 100%;
        //display: flex;
        //flex-direction: row;
        //flex-wrap: nowrap;
        //margin: 20px;
    }
    /*
    .Idinput input{
        padding-top: 2vh;
        padding-bottom: 2vh;
        padding-left: 1.5vw;
        padding-right: 10vw;
        margin-left: 6vw;
    }
        */
    .Idinvalid{
        //width: 100%;
        //display: flex;
        //flex-direction: row;
        //flex-wrap: nowrap;
        //margin: 20px;
    }
    .Idinvalid input{
        padding-top: 2vh;
        padding-bottom: 2vh;
        padding-left: 1.5vw;
        padding-right: 10vw;
        margin-left: 6vw;
    }
    .Passinput{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin: 20px;
    }

    .Idinput button{
        /*
        cursor: pointer;
        margin-top: 0.7vh;
        background-color:rgba(30, 150, 100, 0.5);
        white-space : nowrap; 
        border-radius: 15px;
        color: white;
        margin-left: 1vw;
        margin-bottom: 0.7vh;

        */
        cursor: pointer;
        position: absolute;
        display: flex;
        align-items: center;
        justify-self: center;
        top:6vh;
        left:29vw;
        height: 4vh;
        border-radius: 15px;
        color: white;
        margin-top: 1.75rem;
        background-color:rgba(30, 150, 100, 0.5);
        white-space : nowrap; 
        
    }
    .Idinvalid button{
/*
        cursor: pointer;
        margin-top: 0.7vh;
        background-color:rgba(30, 150, 100, 0.5);
        white-space : nowrap; 
        border-radius: 15px;
        color: white;
        margin-left: 1vw;
        margin-bottom: 0.7vh;
        */
        cursor: pointer;
        position: absolute;
        display: flex;
        align-items: center;
        justify-self: center;
        top:14vh;
        left:29vw;
        height: 4vh;
        border-radius: 15px;
        color: white;
        margin-top: 1.75rem;
        background-color:rgba(30, 150, 100, 0.5);
        white-space : nowrap; 
        
    }
    .Idinvalid button:disabled,
    .Idinvalid button:focus:disabled,
    .Idinvalid button:hover:disabled,
    .Idinvalid button:active:disabled{  
        background: #ccc;
        border-color: #ccc;
        color: #666666;
        cursor: not-allowed;
        margin-bottom: 0.7vh;
    }
    
    .Idinput button:disabled,
    .Idinput button:focus:disabled,
    .Idinput button:hover:disabled,
    .Idinput button:active:disabled{
        /*
        background: #ccc;
        border-color: #ccc;
        color: #666666;
        cursor: not-allowed;
        */
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-self: center;
        height: 4vh;
        background: #ccc;
        border-color: #ccc;
        color: #666666;
        cursor: not-allowed;
        
    }
    
    .invalid input{
        border: 1px solid #b40e0e;
        background-color: #fddddd;
        padding: 10rem;
      }
      .invalid input::placeholder{
        color: #b40e0e;
        padding: 0rem;
      }
      
    .adress{
        display: flex;
        justify-content: center;
        width: 50%;
        margin-left: 4.2rem;
    }
    
    
    .adrress_search{
        position: fixed;
        top:450px;
        right: 600px;
        left: 600px;
    }
    .Sign_errortext{
        color: #b40e0e;
        font-size: small;
        position: absolute;
        top:18vh;
        left: 12vw; 
    }
    .Sign_pass_errortext{
        color: #b40e0e;
        font-size: small;
        position: absolute;
        top:27vh;
        left: 12vw; 
    }

    .Sign_name_errortext{
        color: #b40e0e;
        font-size: small;
        position: absolute;
        top:36vh;
        left: 12vw; 
    }

    .Sign_address_errortext{
        color: #b40e0e;
        font-size: small;
        position: absolute;
        top:54vh;
        left: 12vw; 
    }
    .Sign_nick_errortext{
        color: #b40e0e;
        font-size: small;
        position: absolute;
        top:63vh;
        left: 12vw;   
    }
    .Sign_email_errortext{
        color: #b40e0e;
        font-size: small;
        position: absolute;
        top:72vh;
        left: 12vw;  
    }
    
    .btn_adress{
        width: 100%;
        height: 100%;
        cursor: pointer;
        margin-top: 0.75rem;
    }
    
    .adress button{
      cursor: pointer;
      height: 65%;
      border-radius: 15px;
      color: white;
      margin-top: 0.75rem;
      background-color:rgba(30, 150, 100, 0.5);
      white-space : nowrap;
      height: 4vh;
      margin-top: 3vh;
    }
    
    .Signmain{
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: nowrap;
        align-items: center;
        position: absolute;
        left: 35vw;
    
    }
    
    .Signmain input{
        margin: 0.75rem;
        padding:1rem;
        padding-left: 2rem;
        padding-right: 10rem;
        text-align: left;
    }
        
    .Signmain input:focus{
        outline: none;
        border-color: #4f005f;
        background: #f6dbfc;
    }
    .pass_msg{
        color:#b40e0e;
        font-size: small;
        margin-top: -2vh;
        margin-bottom: -2vh;
    }
    .Signmain h3{
        color:#b40e0e;
        position: relative;
        top:-4px;
        left:370px;
        font-size:smaller;
    }
    
    .error_massage{
        height: 65%;
        position: relative;
        top:-39px;
        left: 350px;
        background-color:#fddddd;
    }
    .error_massage p{
        font-size:large;
        background-color: aqua;
    }
    
    .Signmain h2{
        align-items: center;
        margin-right: 1vw;
        margin-top: 0.5vh;
        font-size: 20px;
    }
    
    
    
    .Signmain input{

    }
    .sign{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    
    }
    .sign button{
        border-radius: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 30px;
        padding-right: 30px;
        margin: 10px;
        margin-right: 2rem;
        margin-top: 20px;
        background-color:rgba(30, 150, 100, 0.5);
        color: white;
        cursor: pointer;
    }
    .sign button:disabled,
    .sign button:focus:disabled,
    .sign button:hover:disabled,
    .sign button:active:disabled{
        background: #ccc;
        border-color: #ccc;
        color: #666666;
        cursor: not-allowed;
    }
    .aaaa button{
        margin: 5rem;
        background-color: #b40e0e;
    }
    .id_success{
        display: flex;
        flex-direction: row;
        position: absolute;
        width: 5vw;
        top:8vh;
        left: 34vw;
        font-size: medium;
    
    }
    
    .id_fail{
        color: #b40e0e;
        display: flex;
        flex-direction: row;
        position: absolute;
        width: 5vw;
        top:8vh;
        left: 34vw;
        font-size: medium;
    }
    .nick_success{
        position: absolute;
        display: flex;
        flex-direction: row;
        position: absolute;
        width: 5vw;
        top:62vh;
        left: 34vw;
        font-size: medium;
    }
    .nick_fail{
        color: #b40e0e;
        position: absolute;
        display: flex;
        flex-direction: row;
        position: absolute;
        width: 5vw;
        top:62vh;
        left: 34vw;
        font-size: medium;
    }
    .email_success{
        position: absolute;
        display: flex;
        flex-direction: row;
        position: absolute;
        width: 5vw;
        top:72vh;
        left: 34vw;
        font-size: medium;
    }
    .email_fail{
        color: #b40e0e;
        position: absolute;
        display: flex;
        flex-direction: row;
        position: absolute;
        width: 5vw;
        top:72vh;
        left: 34vw;
        font-size: medium;
    }
    .input button{
        cursor: pointer;
        height: 60%;
        border-radius: 15px;
        color: white;
        margin-top: 0.75rem;
        background-color:rgba(30, 150, 100, 0.5);
        margin-right: -5rem;
    }
    .certification{
        color:white;
        font-size: large;
        margin-left: 195px;
        margin-top: -45px;
        border: 2px solid black;
        border-radius: 20px;
        padding-left: 25px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 25px;
        background-color: rgba(30, 150, 100, 0.5);
    }
    
    .certifi{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    
    
    }
    .certifi button{
        border-radius: 20px;
        padding-left: 30px;
        padding-top: 5px;
        padding-right: 30px;
        padding-bottom: 5px;
        margin-right: 13rem;
        background-color:rgba(30, 150, 100, 0.5);
        color: white;
        font-size: medium;
        cursor: pointer;
    }
    
    
    
    
    #input_id{
        background-image: url("https://static.thenounproject.com/png/101791-200.png");
        background-position:-2px center;
        background-size:30px;
        background-repeat: no-repeat;
        
    }
    
    #input_password{
        background-image: url("https://w7.pngwing.com/pngs/975/821/png-transparent-password-manager-computer-icons-password-strength-password-safe-chang-miscellaneous-password-strength-password-safe-thumbnail.png");
        background-position:2px center;
        background-size:20px;
        background-repeat: no-repeat;
    }
    
    #input_Name{
        background-image: url("https://cdn.icon-icons.com/icons2/1415/PNG/512/ic-username_97587.png");
        background-position: 3px center;
        background-size:20px;
        background-repeat: no-repeat;
    }
    
    #input_NicName{
        background-image: url("https://cdn-icons-png.flaticon.com/512/194/194279.png");
        background-position: 3px center;
        background-size:20px;
        background-repeat: no-repeat;
    }
    
    #input_Email{
        background-image: url("https://cdn-icons-png.flaticon.com/512/3653/3653846.png");
        background-position: 3px center;
        background-size:20px;
        background-repeat: no-repeat;
    }
    #input_Adrress{
        background-image: url("https://cdn-icons-png.flaticon.com/512/660/660026.png");
        background-position: 3px center;
        background-size:20px;
        background-repeat: no-repeat;
    }

}

@media screen and (max-width:1920px) {

    @media screen and (min-width:1710px) {
        
        .Signmain h2{
            width: 100%;
            text-align:center;
            color:black;
            font-size: xx-large;
        }
        
        
        .Nickinvalid input{
            border: 1px solid #b40e0e;
            background-color: #fddddd;
            padding: 10rem;
             
        }
        .Nickinvalid input::placeholder{
            color: #b40e0e;
            padding: 0rem;
        }
        .Nickinput button{
            cursor: pointer;
            position: absolute;
            display: flex;
            align-items: center;
            justify-self: center;
            top:54vh;
            left:24vw;
            height: 4vh;
            border-radius: 15px;
            color: white;
            margin-top: 1.75rem;
            background-color:rgba(30, 150, 100, 0.5);
            white-space : nowrap; 
        }
        .Nickinvalid button{
            cursor: pointer;
            position: absolute;
            display: flex;
            align-items: center;
            justify-self: center;
            top:54vh;
            left:24vw;
            height: 4vh;
            border-radius: 15px;
            color: white;
            margin-top: 1.75rem;
            background-color:rgba(30, 150, 100, 0.5);
            white-space : nowrap; 
        }
        .Nickinput button:disabled,
        .Nickinput button:focus:disabled,
        .Nickinput button:hover:disabled,
        .Nickinput button:active:disabled{
            display: flex;
            position: absolute;
            align-items: center;
            justify-self: center;
            top:54vh;
            left:24vw;
            height: 4vh;
            background: #ccc;
            border-color: #ccc;
            color: #666666;
            cursor: not-allowed;
        }
        
        .Nickinvalid button:disabled,
        .Nickinvalid button:focus:disabled,
        .Nickinvalid button:hover:disabled,
        .Nickinvalid button:active:disabled{
            display: flex;
            position: absolute;
            align-items: center;
            justify-self: center;
            top:52.5vh;
            left:24vw;
            height: 4vh;
            background: #ccc;
            border-color: #ccc;
            color: #666666;
            cursor: not-allowed;
        }
        .Emailinput button{
            cursor: pointer;
            display: flex;
            position: absolute;
            align-items: center;
            justify-self: center;
            top:62vh;
            left:24vw;
            height: 4vh;
            border-radius: 15px;
            color: white;
            margin-top: 1.75rem;
            background-color:rgba(30, 150, 100, 0.5);
            white-space : nowrap; 
        }
        .Emailinvalid button{
            cursor: pointer;
            display: flex;
            position: absolute;
            align-items: center;
            justify-self: center;
            top:62vh;
            left:24vw;
            height: 4vh;
            border-radius: 15px;
            color: white;
            margin-top: 1.75rem;
            background-color:rgba(30, 150, 100, 0.5);
            white-space : nowrap; 
        }
        
        .Emailinput button:disabled,
        .Emailinput button:focus:disabled,
        .Emailinput button:hover:disabled,
        .Emailinput button:active:disabled{
            display: flex;
            position: absolute;
            align-items: center;
            justify-self: center;
            top:61.7vh;
            left:24vw;
            height: 4vh;
            background: #ccc;
            border-color: #ccc;
            color: #666666;
            cursor: not-allowed;
        }
        
        .Emailinvalid button:disabled,
        .Emailinvalid button:focus:disabled,
        .Emailinvalid button:hover:disabled,
        .Emailinvalid button:active:disabled{
            display: flex;
            position: absolute;
            align-items: center;
            justify-self: center;
            top:61vh;
            left:24vw;
            height: 4vh;
            background: #ccc;
            border-color: #ccc;
            color: #666666;
            cursor: not-allowed;
        }

        .Emailinvalid input{
            border: 1px solid #b40e0e;
            background-color: #fddddd;
            padding: 10rem;
             
        }
        .Emailinvalid input::placeholder{
            color: #b40e0e;
            padding: 0rem;
        }
        
        .Idinvalid input{
            border: 1px solid #b40e0e;
            background-color: #fddddd;
            padding: 10rem;
             
        }
        .Idinvalid input::placeholder{
            color: #b40e0e;
            padding: 0rem;
        }
        .Idinput button{
            cursor: pointer;
            position: absolute;
            display: flex;
            align-items: center;
            justify-self: center;
            top:14vh;
            left:24vw;
            height: 4vh;
            border-radius: 15px;
            color: white;
            margin-top: 1.75rem;
            background-color:rgba(30, 150, 100, 0.5);
            white-space : nowrap; 
        }
        .Idinvalid button{
            cursor: pointer;
            position: absolute;
            display: flex;
            align-items: center;
            justify-self: center;
            top:14vh;
            left:24vw;
            height: 4vh;
            border-radius: 15px;
            color: white;
            margin-top: 1.75rem;
            background-color:rgba(30, 150, 100, 0.5);
            white-space : nowrap; 
        }
        .Idinvalid button:disabled,
        .Idinvalid button:focus:disabled,
        .Idinvalid button:hover:disabled,
        .Idinvalid button:active:disabled{
            position: absolute;
            display: flex;
            align-items: center;
            justify-self: center;
            top:13vh;
            left:24vw;
            height: 4vh;
            background: #ccc;
            border-color: #ccc;
            color: #666666;
            cursor: not-allowed;
        }
        
        .Idinput button:disabled,
        .Idinput button:focus:disabled,
        .Idinput button:hover:disabled,
        .Idinput button:active:disabled{
            position: absolute;
            display: flex;
            align-items: center;
            justify-self: center;
            top:14vh;
            left:24vw;
            height: 4vh;
            background: #ccc;
            border-color: #ccc;
            color: #666666;
            cursor: not-allowed;
        }
        
        .invalid input{
            border: 1px solid #b40e0e;
            background-color: #fddddd;
            padding: 10rem;
          }
          
        .adress{
            display: flex;
            justify-content: center;
            width: 50%;
            margin-left: 4.2rem;
        }
        
        
        .adrress_search{
            position: fixed;
            top:450px;
            right: 600px;
            left: 600px;
        }
        .errortext{
            color: #b40e0e;
            font-size: small;
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin: -7px;

        }
        
        .btn_adress{
            width: 100%;
            height: 100%;
            cursor: pointer;
            margin-top: 0.75rem;
        }
        
        .adress button{
          cursor: pointer;
          height: 65%;
          border-radius: 15px;
          color: white;
          margin-top: 0.75rem;
          background-color:rgba(30, 150, 100, 0.5);
          white-space : nowrap;
        }
        
        .Signmain{
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex-wrap: nowrap;
            align-items: center;
            height: 90vh;
            position: absolute;
            top:7vh;
            left: 35vw;
            //margin: 20px;
        
        }
        .Signmain input:focus{
            outline: none;
            border-color: #4f005f;
            background: #f6dbfc;
        }

        .pass_msg{
            color:#b40e0e;
            font-size: small;
            margin-top: -2vh;
            margin-bottom: -2vh;
        }
        .Signmain h3{
            color:#b40e0e;
            position: relative;
            top:-4px;
            left:370px;
            font-size:smaller;
        }
        
        .error_massage{
            height: 65%;
            position: relative;
            top:-39px;
            left: 350px;
            background-color:#fddddd;
        }
        .error_massage p{
            font-size:large;
            background-color: aqua;
        }
        
        .Signmain h2{
            align-items: center;
        }
        
        
        
        .Signmain input{
            margin: 0.75rem;
            padding:1rem;
            padding-left: 2rem;
            padding-right: 10rem;
            text-align: left;
        }
        .sign{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        
        }
        .sign button{
            border-radius: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 30px;
            padding-right: 30px;
            margin: 10px;
            margin-right: 2rem;
            margin-top: 20px;
            background-color:rgba(30, 150, 100, 0.5);
            color: white;
            cursor: pointer;
        }
        .sign button:disabled,
        .sign button:focus:disabled,
        .sign button:hover:disabled,
        .sign button:active:disabled{
            background: #ccc;
            border-color: #ccc;
            color: #666666;
            cursor: not-allowed;
        }
        .aaaa button{
            margin: 5rem;
            background-color: #b40e0e;
        }
        .id_success{
            display: flex;
            flex-direction: row;
            position: absolute;
            width: 5vw;
            top:16vh;
            left: 28vw;
            font-size: medium;
        
        }
        
        .id_fail{
            color: #b40e0e;
            display: flex;
            flex-direction: row;
            position: absolute;
            width: 5vw;
            top:16vh;
            left: 28vw;
            font-size: medium;
        }
        .nick_success{
            position: absolute;
            display: flex;
            flex-direction: row;
            position: absolute;
            width: 5vw;
            top:56vh;
            left: 28vw;
            font-size: medium;
        }
        .nick_fail{
            color: #b40e0e;
            position: absolute;
            display: flex;
            flex-direction: row;
            position: absolute;
            width: 5vw;
            top:56vh;
            left: 28vw;
            font-size: medium;
        }
        .email_success{
            position: absolute;
            display: flex;
            flex-direction: row;
            position: absolute;
            width: 5vw;
            top:64vh;
            left: 28vw;
            font-size: medium;
        }
        .email_fail{
            color: #b40e0e;
            position: absolute;
            display: flex;
            flex-direction: row;
            position: absolute;
            width: 5vw;
            top:64vh;
            left: 28vw;
            font-size: medium;
        }
        .input button{
            cursor: pointer;
            height: 60%;
            border-radius: 15px;
            color: white;
            margin-top: 0.75rem;
            background-color:rgba(30, 150, 100, 0.5);
            margin-right: -5rem;
        }
        .certification{
            color:white;
            font-size: large;
            margin-left: 195px;
            margin-top: -45px;
            border: 2px solid black;
            border-radius: 20px;
            padding-left: 25px;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-right: 25px;
            background-color: rgba(30, 150, 100, 0.5);
        }
        
        .certifi{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        
        
        }
        .certifi button{
            border-radius: 20px;
            padding-left: 30px;
            padding-top: 10px;
            padding-right: 30px;
            padding-bottom: 10px;
            margin-right: 13rem;
            margin-top: 15px;
            background-color:rgba(30, 150, 100, 0.5);
            color: white;
            font-size: large;
            cursor: pointer;
        }
        
        
        
        
        #input_id{
            background-image: url("https://static.thenounproject.com/png/101791-200.png");
            background-position:-2px center;
            background-size:30px;
            background-repeat: no-repeat;
            
        }
        
        #input_password{
            background-image: url("https://w7.pngwing.com/pngs/975/821/png-transparent-password-manager-computer-icons-password-strength-password-safe-chang-miscellaneous-password-strength-password-safe-thumbnail.png");
            background-position:2px center;
            background-size:20px;
            background-repeat: no-repeat;
        }
        
        #input_Name{
            background-image: url("https://cdn.icon-icons.com/icons2/1415/PNG/512/ic-username_97587.png");
            background-position: 3px center;
            background-size:20px;
            background-repeat: no-repeat;
        }
        
        #input_NicName{
            background-image: url("https://cdn-icons-png.flaticon.com/512/194/194279.png");
            background-position: 3px center;
            background-size:20px;
            background-repeat: no-repeat;
        }
        
        #input_Email{
            background-image: url("https://cdn-icons-png.flaticon.com/512/3653/3653846.png");
            background-position: 3px center;
            background-size:20px;
            background-repeat: no-repeat;
        }
        #input_Adrress{
            background-image: url("https://cdn-icons-png.flaticon.com/512/660/660026.png");
            background-position: 3px center;
            background-size:20px;
            background-repeat: no-repeat;
        }
    }
}





