.imgbox,
.imgbox:hover{
    width:75px;
    height:75px;
    overflow:hidden;
    margin-left: 1vw;
    cursor: pointer;
}
.videobox,
.videobox:hover{
    width:75px;
    height:75px;
    overflow:hidden;
    margin-left: 1vw;
    cursor: pointer;
}
.imgbox img{
    width:100%;
    height:100%;
    object-fit:cover;
    border-radius: 20%;
}

.videobox video{
    width:100%;
    height:100%;
    object-fit:cover;
    border-radius: 20%;
}
.Cancel{
    position: absolute;
    width: 20px;
    height: 20px;
    margin-left: 4vw;
    z-index: 40;
    background-color:floralwhite;
    border-radius: 50%;
}
.Cancel img{
    width:100%;
    height:100%;
    object-fit:cover;
    border-radius: 20%;

}

.AddChatFile_total{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    overflow: auto;
}
#AddFileChat_button{
     position: absolute;
     top:22vh;
     left: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background-color: #f28e7b;
    color: white;
    font-weight: bold;
    padding: 2px 8px;
    border-radius: 30px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

