@media (min-width: 1550px) and (max-width: 1920px) {
  .ChatHeader_List{
    display: flex;
    flex-direction: row;
    margin-left: 1vw;
}
.ChatHeader_menu{
  display: flex;
  flex-direction: row;
  width: 20vw;
  max-width: 20vw;
  margin-left: -6vw;
}
.ChatHeader_menu h2{
  font-size:larger;
  font-weight: bolder;
  margin-left: -0.5vw;
  margin-top: 0.1vh;
}

.ChatHeader_menu h3{
  margin-left: 0.4vw;
  margin-top: 0.1vh;
}
.ChatHeader_showadd{
  margin-left: 46vw;
}
.ChatHeader_showadd img,
.ChatHeader_showadd img:hover{
  width: 2vw;
  height: 3vh;
  cursor: pointer;
  margin-left: 1.7vw;
  margin-top: 1vh;
}
}
@media (max-width: 1550px) {

  .ChatHeader_List{
    display: flex;
    flex-direction: row;
    margin-left: 1vw;
}
.ChatHeader_menu{
  display: flex;
  flex-direction: row;
  width: 20vw;
  max-width: 20vw;
  margin-left: -6vw;
}
.ChatHeader_menu h2{
  font-size:larger;
  font-weight: bolder;
  margin-left: -0.5vw;
  margin-top: 0.1vh;
}

.ChatHeader_menu h3{
  margin-left: 0.4vw;
  margin-top: 0.1vh;
}
.ChatHeader_showadd{
  margin-left: 46vw;
}
.ChatHeader_showadd img,
.ChatHeader_showadd img:hover{
  width: 3vw;
  height: 5vh;
  cursor: pointer;
}
}