.ShowChat_CharHeader{
    display: flex;
    flex-direction: row;
    overflow: auto;
}
.ShowChat_vertical hr{
    margin-top: -0.5vh;    
    width:62.5vw;
    max-width: 62.5vw;
    border-color: burlywood;
}

.ShowChat_Showcontents{
    
}