@media (min-width: 1550px) and (max-width: 1920px) {
    .ShowChat_Showcontents{
        display: flex;
        flex-direction: column-reverse;
    }
    .ShowChat_CharHeader{
        display: flex;
        flex-direction: row;
        overflow: auto;
    }
    .ShowChat_vertical hr{
        margin-top: -0.5vh;    
        width:70vw;
        max-width: 70vw;
        border-color: burlywood;
        margin-left: -7vw;
    }
}


@media (max-width: 1550px) {
    .ShowChat_CharHeader{
        display: flex;
        flex-direction: row;
        overflow: auto;
    }
    .ShowChat_vertical hr{
        margin-top: -0.5vh;    
        width:70vw;
        max-width: 70vw;
        border-color: burlywood;
        margin-left: -7vw;
    }

}
